<div class="envelope-container" [class.open]="isOpen">

    <div class="envelope" (click)="openInvitation()">
        <div class="flap"></div>
        <div class="front">
            <div class="corner top-left"></div>
            <div class="corner top-right"></div>
            <div class="corner bottom-left"></div>
            <div class="corner bottom-right"></div>

        </div>
        <div class="back"></div>
        <div class="body">
            <div class="content">
                <h1 style="color: rgb(227, 227, 94);">Sain & Rocío</h1>
                <br>
                <br>
                <div class="seal">
                    <div class="wax-seal">
                        <span class="initials">S&R</span>
                    </div>
                </div>
                <p class="instruction">Haz clic para abrir la invitación</p>
            </div>
        </div>
        <div class="letter">
            <div class="letter-content">
                <div class="letter-text">
                    <h2>Invitación</h2>
                    <p>Abriendo la invitación...</p>
                    <div class="loading-dots">
                        <span></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>